@inherits LayoutComponentBase

<div class="grid-container">
    <div class="grid-x">
        <nav class="cell medium-2 sidebar">
            <SideBarMenu></SideBarMenu>
        </nav>
        <main>
            @Body
        </main>
    </div>
</div>